<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PowerLogReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DLL"/>
    </assemblyBinding>
  </runtime>
    <userSettings>
        <PowerLogReader.Properties.Settings>
            <setting name="RoundUnit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OffsetMinutes" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="StartMargin" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EndMargin" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxDays" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="RoundingRule" serializeAs="String">
                <value>RoundingOff</value>
            </setting>
            <setting name="FirstDayOfWeek" serializeAs="String">
                <value>Monday</value>
            </setting>
            <setting name="EnableBlackoutDates" serializeAs="String">
                <value>True</value>
            </setting>
        </PowerLogReader.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
